@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body { background-color: #F2F2F2; margin: 0px; padding: 0px; height: 100%; width: 100%; font-family: Oxygen, Arial, "sans-serif"; font-size: 20px; font-weight: normal; color: #000;
	background: url("<ROOT_URL>/assets/images/backgrounds/<BACGROUNDIMG>") no-repeat center center fixed; 
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;  
	-webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

#bgvid { display: none; object-fit: cover; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 10000; }

#errNote { display: none; position: fixed; bottom: 0px; left: 0px; width: 100%; background-color: #FECE86; color:#000; padding: 10px 20px; cursor: pointer; z-index: 1000; }

#container       { margin: 0px; padding: 0px; height: 100%; width: 100%; min-width: 1400px; }
#container > div { }

/* General */
.titles { font-weight: bold; font-size: 24px; }
input { font-size: 20px; padding: 6px 10px; }

/* Backdrop */
.backdrop { display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; color:#000; opacity: 0.8; z-index: 100; }


/* Pop Boxes */
.pop_box_div { display: none; position: relative; margin: 20px; border: 2px solid #D84315; border-radius: 10px; vertical-align: top; 
	box-shadow: -3px 0px 37px 0px rgba(181,7,7,0.85);-webkit-box-shadow: -3px 0px 37px 0px rgba(181,7,7,0.85);-moz-box-shadow: -3px 0px 37px 0px rgba(181,7,7,0.85);
}
.pop_box_back      { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: #E2E0CC; opacity: 0.8; border-radius: 6px; }
.pop_box_front     { display: block; position: relative; padding: 10px; color:#000; }

.door            { background: url("<ROOT_URL>/assets/images/buttons/portal.png") no-repeat; background-size: 180px 60px; width: 180px; height: 60px; text-align: center; line-height: 56px; }
.door>span       { font-size: 16px; cursor: pointer; font-weight: bold; letter-spacing: 3px; color: #FFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #E8A248, 0 0 30px #E8A248, 0 0 40px #E8A248, 0 0 55px #E8A248, 0 0 75px #E8A248;}
.door>span:hover { opacity: 0.8; color:yellow; }
.door>span:active{ position: relative; top: 1px; }


#page_login     { display: block; position: relative; text-align: center; vertical-align: top; }
	#pop_box_welcome { display: block; position: fixed; left: 50%; top: 50%; margin-left: -150px; margin-top: -150px; width: 300px; height: 240px; padding: 10px; overflow: hidden; }
	#button_join_game_door { position: absolute; bottom: 0px; right: -16px; }

#page_dashboard { display: none; position: relative; text-align: center; vertical-align: top; }

select.c-sel { padding: 4px 8px; font-size: 18px; }

#leftcol  { display: block; float: left; position: relative; width: 295px; border: 1px solid transparent; height:850px; overflow:hidden; }
#rightcol { display: block; position: relative; margin-left: 295px; border: 1px solid transparent; width:1115px; height:850px; overflow:hidden; }

#pop_box_users        { position: relative; height: 360px; width: 280px; margin: 20px 11px;  }
	.users_button     { display: block; background-color: #E2E0CC; font-size: 16px; padding: 2px 4px; border: 1px solid #333; margin: 4px 0px; border-radius:4px; text-transform: uppercase; cursor: pointer; }
	.red_border_hl:hover { border-color: #D84315; background-color:#fffde3; }
	.user_marked      { border-color: #D84315; background-color:#fffde3; }
	#users_list_box   { margin: 8px 0px; height: 215px; overflow-x: none; overflow-y: auto; }
	#users_list_ops   { display:none; }
	#user_using_div   { display:none; font-size: 14px; font-weight:bold; }
	#user_using       { font-size: 20px; font-weight:bold; background-color:#abffe0; }
	#user_list_select { margin: 10px 0px; }
	#logmeout         { position: absolute; bottom: 10px; left: 10px; margin-top: 10px; text-decoration: underline; cursor: pointer; font-size: 14px; font-weight: bold; color:#191fdb; }
	#go_home		  { display: none; position: absolute; bottom: 10px; right: 10px; margin-top: 10px; text-decoration: underline; cursor: pointer; font-size: 14px; font-weight: bold; color:#191fdb; }

	#peeps_champs 	  { display: none; }
	#champs_list      { margin: 8px 0px; height: 215px; overflow-x: hidden; overflow-y: auto; }



#pop_box_roller  { width: 200px; }

#char_portrait	 { display:none; position:relative; border: 2px solid #333; background-color:#fff; height:280px; width: 260px; margin: 10px 20px; 
	border-radius: 16px; border: 2px solid #D84315;
	box-shadow: -3px 0px 37px 0px rgba(181,7,7,0.85);-webkit-box-shadow: -3px 0px 37px 0px rgba(181,7,7,0.85);-moz-box-shadow: -3px 0px 37px 0px rgba(181,7,7,0.85);}
#char_portrait_image>img { height:280px; width: 260px; border-radius: 16px; }
#char_portrait_image {}
#char_video_hold { position: absolute; bottom: -15px; right: 10px; border: 1px solid red; background-color: #333; color:#fff; font-size: 18px; padding: 2px 10px; cursor:pointer; border-radius:6px; }
#video_show      { display:none; position: absolute; top: 0px; left:0px; z-index:100; width: 100%; height: 100%; }
#video_dark_back { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color:#000; opacity:0.9; }
#video_front     { position: absolute; width: 640px; height: 390px;  top: 50%; left: 0; right: 0; margin: auto; transform: translateY(-50%); }
#video_display   { width: 640px; height: 390px; border: 1px solid #000; background-color:#fff; }



#pop_box_champs  { display:none; height: 820px; }
	.ch_action { cursor: pointer; }
	#char_form_loader { display:none; position:absolute; top: 15px; left: 10px; margin: 10px; border: 1px solid #D84315; background-color:#ffde94; border-radius:10px; padding: 10px; z-index:10; }
	#char_name      { width: 300px; min-height: 30px; }
	#char_race      { display:inline-block; width: 220px; min-height: 30px; text-align: center; border-left: 1px solid #333; border-radius:4px; }
	#char_aura      { display:inline-block; width: 220px; min-height: 30px; text-align: center; border-left: 1px solid #333; border-radius:4px; }
	#char_alignment { display:inline-block; width: 220px; min-height: 30px; text-align: center; border-left: 1px solid #333; border-radius:4px; }




	.charfl { text-align: left; padding: 5px 10px; font-weight:bold; }
	.charfi {  }
	.charfi textarea { width: 400px; height: 250px; padding: 4px;  }

	#char_submit     { display: inline-block; padding: 6px; background-color:#abffe0; font-weight:bold; margin: 6px; width: 120px; cursor:pointer; border: 1px solid #333; border-radius:4px; }
	#char_cancel     { display: inline-block; padding: 6px; background-color:#fda2a2; font-weight:bold; margin: 6px; width: 120px; cursor:pointer; border: 1px solid #333; border-radius:4px; }
	.chi_div        { position: relative; width: 86px; margin-bottom: 2px; background-color:#f9d3a3; border: 1px solid #000; padding: 10px; border-radius:8px 8px 0px 0px; height:60px; }
	.chi_bubble     { display: inline-block; width: 26px; height: 26px; margin: 0px 4px 0px auto; line-height: 26px; font-weight: bold; }
	.chi_bubble2    { display: inline-block; border: 1px solid red; width: 46px; height: 46px; margin: 0px auto 0px auto; line-height: 46px; font-weight: bold; border-radius: 50%; background-color: #fff; }
	.chi_drawer 	{ position:absolute; top: 3px; right: -53px; width: 50px; border-radius: 0px 8px 8px 0px; background-color: #fff; font-size:15px; border: 1px solid #000; height: 65px; padding: 4px 0px; }
	.chi_drawer>div {padding: 2px 0px; font-weight:bold;}
	.chi_drawer_1 { width: 50px; height: 18px; }
	.chi_drawer_2 { width: 50px; height: 18px; background-color:#1f59c9; color:#fff; }
	.chi_drawer_3 { width: 50px; height: 18px;}
	.chi_label      { font-weight:bold; font-style: italic; font-size: 14px; }

	.char_attr      { display:inline-block; border-left: 1px solid #333; width: 144px; margin: 0px 5px; font-size: 11px; text-align: left; overflow: hidden; padding-left: 6px; }
	.char_attr:first-child { border-left: none; }
	.char_attr>div  { display:inline-block; font-weight: bold; font-size: 16px;}
	.char_attr>span { vertical-align: top;}

	.char_addmark { position: absolute; right: 10px; font-size: 18px; top: 4px; cursor:pointer; vertical-align:middle; }
	.char_submark { display: inline-block; margin: 0px 5px 0px 0px; font-size: 18px; top: 4px; cursor:pointer; vertical-align:middle; }
	.char_npcmark { display: inline-block; margin: 0px 5px 0px 0px; vertical-align: middle; cursor:pointer; }
	.char_user_button { display: inline-block; width: 180px; background-color: #E2E0CC; font-size: 16px; padding: 2px 4px; border: 1px solid #333; margin: 4px 0px; border-radius:4px; text-transform: uppercase; cursor: pointer; overflow: hidden; vertical-align: middle;}
	.togglepick { display: inline-block; margin: 10px; height: 30px; width: 30px; border: 1px solid #333; cursor: pointer; }
	.togglepicked { border: 4px dashed #5a1b1b; }
	.bgnotes_selected { color:#fff; }

	.char_class_item     { display: block; margin-bottom: 8px; border: 1px solid #333; background-color:#ebebeb; padding: 8px; font-size: 16px; }
	.char_class_edit     { display:	inline-block; font-weight:bold; margin-right: 6px; }
	.char_class_remove   { display: inline-block; margin-right: 10px; }

	#del_platinum, #add_platinum, #del_gold, #add_gold, #del_silver, #add_silver, #del_copper, #add_copper { cursor: pointer; } 


	.char_class_div_l  { display: inline-block; width: 180px; vertical-align: middle; }
	.char_class_div_s  { display: inline-block; width: 44px; vertical-align: middle; }
	.char_class_class    { display: block; font-weight: bold; }
	.char_class_subclass { display: block; font-style: italic; }
	.char_class_level    { display: block; width: 36px; height:26px; line-height:26px; border: 1px solid #333; background-color: #fff; border-radius: 10px; text-align:center; }




	.spell_bubble {display: inline-block; height: 30px; width: 30px; line-height:30px; border-radius:50%; text-align:center; font-weight: bold; border:1px solid #333; cursor: pointer;}
	.spell_bubble:hover {background-color: #fff;}
	.power_boxes       {display: block; border: 1px solid #333; width: 50px; padding: 5px 0px; margin:0px; font-size:9px; text-align: center; cursor: pointer;}
	.point_bubble       { display: inline-block; height: 100px; width: 122px; line-height:100px; border-radius:20% 20% 50% 50%; text-align:center; font-weight: bold; border:1px solid #333; }
	.point_bubble_small { display: inline-block; height: 50px; width: 50px; line-height:50px; border-radius:50%; text-align:center; font-weight: bold; border:1px solid #333; }
	.point_bubble_smallb { display: inline-block; height: 30px; width: 59px; line-height:30px; border-radius:10px; font-size:16px; text-align:center; font-weight: bold; border:1px solid #333; vertical-align:-webkit-baseline-middle; }
	.point_bubble_smallc { display: inline-block; height: 15px; width: 15px; border-radius:50%; border:1px solid #333; }
	.point_bubble_small2{ display: inline-block; height: 30px; width: 80px; line-height:30px; border-radius:20px 0px 0px 20px; text-align:center; font-weight: bold; border:1px solid #333; }
	.point_bubble_small3{ display: inline-block; height: 50px; width: 60px; line-height:50px; border-radius:50%; text-align:center; font-weight: bold; font-size: 15px; border:1px solid #333; }
	.point_bubble_smallnpc { display: inline-block; height: 15px; width: 15px; border-radius:50%; border:1px solid #333; }

	.char_spell_input { width: 180px; }
	.char_spell_cb    { display: inline-block; width: 250px; }
	.char_spell_div   { display: inline-block; width: 185px; }
	.char_spell_name_list {border: 1px solid #333; padding: 5px; background-color:#FFF; cursor: pointer; margin: 5px 0px;}
	.char_spell_name_list:hover{ background-color:#f5ff63; }
	.char_spell_name_list_sel{ background-color:#c7ffc6; }

	.char_spell_skill_ops:hover { color:#fff; cursor:pointer; }
	.spell_sheet_item { margin: 5px; padding: 10px; border-radius: 8px; border: 1px solid #333; background-color:#fff; font-size:14px; }
	.spell_sheet_name     { font-weight:bold; color:#333; text-decoration:underline; font-size: 22px; }
	.spell_sheet_level    { font-weight:bold; float:right; background-color:#fff; border: 1px solid #333; text-align:center; height: 30px; width: 30px; line-height:30px; border-radius:50%; }
	.spell_sheet_level2   { font-weight:bold; float:right; background-color:#fff; border: 1px solid #333; text-align:center; height: 30px; width: 50px; line-height:30px; border-radius:20px; }
	.spell_sheet_div1     {  }
		.spell_sheet_class    { display: inline-block; font-style:italic; color:#333; width: 220px;}
		.spell_sheet_comps1   { display: inline-block; line-height: 20px; width: 20px; height: 20px; background-color:#ffffe1; border: 1px solid #333; font-weight: bold; border-radius: 30%; margin-left: 4px; text-align:center; }
		.spell_sheet_comps2   { display: inline-block; line-height: 20px; width: 20px; height: 20px; background-color:#ffffe1; border: 1px solid #333; font-weight: bold; border-radius: 30%; margin-left: 4px; text-align:center; }
		.spell_sheet_comps3   { display: inline-block; line-height: 20px; width: 20px; height: 20px; background-color:#ffffe1; border: 1px solid #333; font-weight: bold; border-radius: 30%; margin-left: 4px; text-align:center; }
	.spell_sheet_div3	  { margin: 5px 0px; }
	.spell_sheet_div4	  { margin: 5px 0px; }
		.spell_sheet_range    { display: inline-block; }
		.spell_sheet_casttime { display: inline-block; width: 180px; }
		.spell_sheet_casttime>span { color:#ff03c9; }
		.spell_sheet_duration { display: inline-block; width: 180px; }
		.spell_sheet_duration>span { color:#ff03c9; }
	.spell_sheet_div2	  { margin: 10px 0px; }
		.spell_sheet_dmg      { display: inline-block; width: 170px; overflow: hidden; }
		.spell_sheet_dmg>span { font-weight:bold; color:#df0e0e; font-size: 18px; }
		.spell_sheet_hit      { display: inline-block; float: right; line-height: 20px; width: 60px; height: 20px; background-color:#fcffe1; border: 1px solid #333; font-weight: bold; border-radius: 10px; margin-left: 4px; text-align:center; }
		.spell_sheet_save     { display: inline-block; float: right; line-height: 20px; width: 60px; height: 20px; background-color:#d8e2f5; border: 1px solid #333; font-weight: bold; border-radius: 10px; margin-left: 4px; text-align:center; }
		.spell_sheet_conc     { display: inline-block; float: right; line-height: 20px; width: 60px; height: 20px; background-color:#e0ffe4; border: 1px solid #333; font-weight: bold; border-radius: 10px; margin-left: 4px; text-align:center; }
	.spell_sheet_desc     { display:block; border: 1px solid #333; border-radius: 6px; margin: 5px; padding: 10px; }




#pop_box_items  { width: 200px; }
#pop_box_maps   { width: 200px; }
#pop_box_quests { width: 200px; }

.dr_item    { display: block; border-bottom: 1px solid #333; padding: 10px; }
.dr_user    { display: block; font-weight:bold; text-transform: capitalize; }
.dr_d1      { display:inline-block; width: 40px; text-align: center; background-color:#fff; border:1px solid red; }
.dr_dd      { display:inline-block; width: 20px; text-align:center; }
.dr_d2      { display:inline-block; width: 40px; text-align: center; background-color:#fff; border:1px solid red; }
.dr_dtotal  { display:inline-block; width: 60px; float: right; text-align: center; background-color:#ffdfdf; border:1px solid red; font-weight: bold; border-radius:8px; }
.dr_dlist   { display:inline-block; width: 190px; margin-top: 4px; border: 1px solid #096ca5; background-color:#94d8ff; text-align: left; }
.dr_indroll { display:inline-block; width: 30px; margin: 4px auto; text-align:center; }

